<!--Modal-->
<div id="modal" class="hide">
    <div class="content">
        <h1>Nova Ideia</h1>

        <form action="">

            <div class="input-wrapper">
                <label for="titulo">Título da Ideia</label>
                <input type="text" name="titulo">
            </div>

            <div class="input-wrapper">
                <label for="categoria">Categoria</label>
                <input type="text" name="categoria">
            </div>

            <div class="input-wrapper">
                <label for="imagem">Link da Imagem</label>
                <input type="url" name="imagem">
            </div>

            <div class="input-wrapper">
                <label for="descricao">Digite a descrição da ideia</label>
                <textarea name="descricao" cols="30" rows="10"></textarea>
            </div>

            <div class="input-wrapper">
                <label for="linkimg">Link da Ideia</label>
                <input type="url" name="linkimg">
            </div>

            <a href="#" onclick="onOff()">Voltar</a>
            <button>Salvar</button>

        </form>
    </div>

</div>